<div class="card">
  <div class="header">
    <h2 class="title">Flight Edit</h2>
  </div>
  <div class="content">
    <p>Show Details: {{ showDetails }}</p>

    <form [formGroup]="editForm" >
      <div class="form-group">
        <label>ID:</label>
        <input formControlName="id" class="form-control" />
      </div>

      <div class="form-group">
        <label>From:</label>
        <input formControlName="from" class="form-control" />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['from'].hasError('required')">
        This is a mandatory input field!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['from'].hasError('minlength')">
        Please enter at least {{ editForm.controls['from'].errors?.['minlength'].requiredLength }} chars
        (you entered only {{ editForm.controls['from'].errors?.['minlength'].actualLength }})!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['from'].hasError('city')">
        The entered city name is not valid ({{ editForm.controls['from'].errors?.['city'].actualCity }})!
        The following cities are allowed: {{
          editForm.controls['from'].errors?.['city'].validCities.join(', ')
        }}
      </div>

      <div class="form-group">
        <label>To:</label>
        <input formControlName="to" class="form-control" />
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['to'].hasError('required')">
        This is a mandatory input field!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['to'].hasError('minlength')">
        Please enter at least {{ editForm.controls['to'].errors?.['minlength'].requiredLength }} chars
        (you entered only {{ editForm.controls['to'].errors?.['minlength'].actualLength }})!
      </div>
      <div
        class="alert alert-danger"
        *ngIf="editForm.controls['to'].hasError('city')">
        The entered city name is not valid ({{ editForm.controls['to'].errors?.['city'].actualCity }})!
        The following cities are allowed: {{
          editForm.controls['to'].errors?.['city'].validCities.join(', ')
        }}
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input formControlName="date" class="form-control" />
      </div>

      <div class="form-group">
        <button
          class="btn btn-default"
          (click)="save()">
            Save
        </button>
      </div>
    </form>
  </div>
</div>
